*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Plus Jakarta Sans", sans-serif;
  /* font-family: "Playfair Display", serif; */
}

::-webkit-scrollbar {
  display: none;
}



.home {
  width: 100%;
  height: 90vh;
  background-image: url(asset/banner.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 50px;
  z-index: 10;
  transition: all 0.5s ease;
  background: #005624; 
}

nav .logo {
  width: 30px;
  height: 30px;
}

nav ul {
  display: flex;
  margin-right: 2.5rem;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  align-items: center;
  left: 50px;
  margin: 0 16px;
  /* top: -5px; */
  margin-top: 5px;
  font-size: 15px;
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3s ease;
}

nav ul li a:hover,  
nav ul li a:active{
  color: #FFC300;
}

nav.sticky {
  background: transparent;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  backdrop-filter: blur(10px);
}

nav.sticky ul li a {
  color: #005624;
}
nav.sticky ul li a:hover{
  color: #FFC300;
}

nav .logo {
  transition: filter 0.3s ease;
}

/* Saat sticky, ubah jadi hijau */
nav.sticky .logo {
  filter: invert(53%) sepia(36%) saturate(562%) hue-rotate(84deg) brightness(92%) contrast(90%);
}

.content {
  display: flex;
  margin: auto;
  padding-top: 10rem;
  justify-content: center;
  z-index: 2;
}

.text {
  text-align: center;
  color: white;
}

.text h5 {
  font-size: 70px;
  color: white;
  font-weight: bold;
}

.green-line {
  width: 100%;
  height: 6vh;
  align-items: center;
  background: #005624; 
}

.about {
  display: flex;
  padding: 6rem 8rem;
}

.about .gambar img{
  width: 40rem;
  height: 70vh;
}

.garis {
  width: 14rem;
  height: 3px;
  background-color: black;
}

.button-1 {
  padding: 5px 40px;
  border-radius: 9px;
  background-color: #FFC300;
  text-decoration: none;
  color: black;
  font-weight:600;
}

.button-3 {
  appearance: none;
  background-color: #2ea44f;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;  
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  font-style: italic;
  line-height: 20px;
  padding: 6px 30px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  margin-top: 3rem;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #2c974b;
}

.button-3:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.about-product {
  padding: 3rem 8rem;
}

.about-product h3 {
  font-size: 3rem;
}

.row-1 {
  display: flex;
  justify-content: center;
}

.row-2 {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.card {
  color: white;
  border-radius: 10px;
  text-align: center;
  width: 19rem;
  background-color: #5CAE60;
  padding: 30px 50px;
  margin-right: 1rem;

}

.card img {
  width: 5rem;
  height: 5rem;
  margin: 1.5rem 0;
}

.card h5 {
  font-size: 20px;
}

.contact-us {
  padding: 7rem 6rem;
  width: 100%;
  height: 50vh;
  background-color: #005624;
  color: #f1f1f1;
}

.footer {
  /* height: 100%; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.contact-us ul li {
  list-style: none;
  color: #f1f1f1;
}

.footer a {
  text-decoration: none;
}

.sosmed {
  display: flex;
  justify-content: center;
  margin-top: 1.8rem;
  gap: 0.7rem;
  
}

.sosmed img {
  width: 2.5em;
  height: 2.5em;
}

.projects {
  padding: 3rem 8rem;

}

.projects-content {
  margin-top: 5rem;
}

.carousel {
  margin: 50px auto;
  width: 100%;
  display: flex;
  overflow-x: auto;
  gap: 1em;
}

.cards {
  flex: 0 0 5em;
  font-size: 1rem;
  border-radius: .2em;
  text-align: center;
  align-items: center;
}

.group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding-right: 1em;
}

.group-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding-right: 1em;
}

.carousel:hover .group {
  animation: spin 15s infinite linear;
}

.carousel:hover .group-2 {
  animation: spin-2 15s infinite linear;
}

@keyframes spin {
  from {translate: 0;}
  to {translate: -100%;}
}
@keyframes spin-2 {
  from {translate: -100%;}
  to {translate: 0;}
}