html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

body {
    padding-top: 70px;
    background-color: #f8fff8;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    padding: 0 2rem;

    display: flex;
    align-items: center;


    background: #004d23;
    backdrop-filter: none;
    transition: background 0.4s ease, backdrop-filter 0.4s ease;
    z-index: 9999;
}

nav.scrolled {
    background: rgba(255, 216, 77, 0.25);
    backdrop-filter: blur(10px);
}

nav.scrolled ul li a {
    color: #005624; 
}

nav ul {
    display: flex;
    gap: 25px;
    align-items: center;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: white;
    transition: 0.3s ease;
}

nav ul li a:hover {
    letter-spacing: 1px;
    color: #fff7bb;
}

nav .logo {
    width: 35px;
    margin-right: 730px;
    transition: 0.3s ease;
}

nav .logo:hover {
    transform: rotate(8deg) scale(1.1);
}



/* ============================ */
/*            HERO              */
/* ============================ */

.hero {
    width: 100%;
    height: 85vh;
    background-image: url(asset/banner.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.hero-text {
    margin-left: 8rem;
    color: white;
}

.hero-text h1 {
    font-size: 55px;
    font-weight: 600;
    max-width: 650px;
    line-height: 3.5rem;
}

.hero-text h1 span {
    color: #FFD84D;
}

.hero-text p {
    font-size: 18px;
    margin-top: 10px;
    max-width: 520px;
}

.btn {
    display: inline-block;
    padding: 10px 35px;
    margin-top: 20px;
    background-color: #FFD84D;
    color: black;
    font-weight: 600;
    text-decoration: none;
    border-radius: 10px;
    transition: 0.3s ease;
}

.btn:hover {
    background-color: #ffe889;
    transform: translateY(-4px);
    box-shadow: 0px 6px 15px rgba(0,0,0,0.25);
}



/* ============================ */
/*            ABOUT             */
/* ============================ */
.about {
    display: flex;
    padding: 6rem 8rem;
    justify-content: center;
    gap: 2rem;
}

.about img {
    width: 40rem;
    height: 500px;
}

.garis {
    width: 210px;
    height: 4px;
    background: #005624;
    margin: 15px 0 30px 0;
}
/* .about-page,
.about {
    padding: 6rem 8rem;
}

.about-flex {
    display: flex;
    gap: 3rem;
}

.about-img {
    width: 300px;
    height: 480px;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.4s ease;
} */

/* .about-img:hover {
    transform: scale(1.05);
    filter: brightness(1.08);
} */

/* .about-flex p {
    font-size: 17px;
    line-height: 28px;
    max-width: 600px;
} */



/* ============================ */
/*         KEUNGGULAN           */
/* ============================ */

.keunggulan {
    padding: 5rem 8rem;
    text-align: center;
}

.keunggulan h2 {
    font-size: 40px;
    font-weight: 600;
}

.keunggulan h2 span {
    color: #005624;
}

.keunggulan-row {
    /* display: block; */
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    gap: 2.2rem;
    margin: auto;
}

.atas{
    display: flex;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
    justify-content: center;
}

.bawah {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
}

.card {
    width: 230px;
    background: #4ea457;
    color: white;
    padding: 30px;
    border-radius: 12px;
    transition: 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    background: #3f8c49;
    box-shadow: 0px 10px 18px rgba(0,0,0,0.25);
}

.card img {
    width: 60px;
    margin-bottom: 13px;
}



/* ============================ */
/*            GALERI            */
/* ============================ */

.gallery {
    padding: 5rem 8rem;
    text-align: center;
}

.gallery-box {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.gallery-box img {
    width: 220px;
    height: 160px;
    object-fit: cover;
    border-radius: 12px;
    transition: 0.35s ease;
}

.gallery-box img:hover {
    transform: scale(1.1);
    filter: brightness(1.15);
}



/* ============================ */
/*            KONTAK            */
/* ============================ */

.contact-page {
    padding: 5rem 8rem;
}

.contact-page h2 span {
    color: #3f8c49;
}

.contact-page .garis {
    width: 180px;
}

.contact-flex {
    display: flex;
    gap: 2rem;
    margin-top: 2.5rem;
}

.contact-page form{
    margin-left: 350px;
    align-items: center;
}

.form input,
.form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 14px;
    border-radius: 10px;
    border: none;
    transition: 0.3s ease;
    
}

.form input:hover,
.form textarea:hover {
    background: #e4ffe7;
}

.form input:focus,
.form textarea:focus {
    outline: none;
    box-shadow: 0px 0px 8px rgba(0, 86, 36, 0.7);
}

.sosmed img {
    width: 40px;
    transition: 0.3s ease;
    cursor: pointer;
}

.sosmed img:hover {
    transform: scale(1.2) rotate(5deg);
}



/* ============================ */
/*         ANGGOTA TIM          */
/* ============================ */

/* ============================ */
/*         ANGGOTA TIM          */
/* ============================ */

.team {
    padding: 5rem 8rem;
    text-align: center;
}

.team-grid {
    /* display: grid;
    grid-template-columns: repeat(4, 1fr); */
    margin-top: 3rem;
}

.member {
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 8px 18px rgba(0,0,0,0.15);
    transition: 0.3s ease;

    width: 220px;
    height: 290px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.member:hover {
    transform: translateY(-10px);
    box-shadow: 0px 15px 25px rgba(0,0,0,0.25);
}

.member-1 {
    margin-bottom: 2.5rem;
}
.member-1, .member-2 {
    display: flex;
    gap: 2.5rem;
    justify-content: center;
}

.member img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 0.8rem;
    margin-bottom: 12px;
}

.member h3 {
    font-size: 20px;
    margin-bottom: 5px;
}

.member p {
    font-size: 15px;
    color: gray;
}


.footer {
    width: 100%;
    background: #003c1e;
    color: white;
    padding: 3rem 0;
    /* margin-top: 4rem; */
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    border-top: 4px solid #3eb63a;
}

.info p {
    margin-top: 10px;
}

.sosmed {
    margin-top: 1rem;
}

/* AREA SPONSOR */
.sponsor-area h3 {
    font-size: 20px;
    font-weight: 500;
    color: #FFD84D;
    margin-bottom: 1rem;
}

.sponsor-logos {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.sponsor-logos img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    opacity: 0.85;
    transition: 0.3s ease;
}

.sponsor-logos img:hover {
    opacity: 1;
    transform: scale(1.15);
}

/* WATERMARK */
.footer-watermark {
    font-size: 14px;
    color: #e6e6e6;
    letter-spacing: 1px;
    opacity: 0.8;
}

.keunggulan {
    padding: 5rem 8rem;
    text-align: center;
    background: #e4f7e4; /* hijau muda */
}

.contact-page {
    padding: 5rem 8rem;
    background: #FFD84D; /* hijau muda */
}

